/* ===========================
   ALUMINIO PLUS
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#222;
}

/* ===========================
   HEADER
=========================== */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    z-index:1000;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(12px);
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-icon{
    width:18px;
    height:18px;
    background:#7A1F3D;
    border-radius:4px;
}

.logo h2{
    font-size:20px;
    font-weight:700;
}

.logo span{
    font-size:12px;
    color:#666;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#222;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#7A1F3D;
}

/* ===========================
   HERO
=========================== */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:0 8%;
    color:white;

    background:
    linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1511818966892-d7d671e672a2?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:60px;
    line-height:1.1;
    margin-bottom:25px;
}

.hero p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:40px;
    opacity:.95;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn-primary,
.btn-secondary{
    text-decoration:none;
    padding:16px 34px;
    border-radius:50px;
    transition:.35s;
    font-weight:600;
}

.btn-primary{
    background:#2d6cdf;
    color:white;
}

.btn-primary:hover{
    transform:translateY(-3px);
    background:#5A162D;
}

.btn-secondary{
    border:2px solid white;
    color:white;
}

.btn-secondary:hover{
    background:white;
    color:#222;
}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:900px){

    header{
        flex-direction:column;
        gap:20px;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .hero{
        text-align:center;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:18px;
    }

    .buttons{
        flex-direction:column;
        align-items:center;
    }
}
